




/*Media quori*/

@media screen and (max-width:1080px)
{

    
.productos .contenedor {
    
    
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 0 px;
    margin: 0 px ;
}
 }


@media screen and (max-width:750px) {
    .productos .contenedor  {
        display: grid;
        justify-content: 1 fr   ;
        justify-content: center;
        align-items: center;
         
         

        
    }

     li { 
        grid-template-columns: 1fr ;
        
        
    }  
}     
@media screen and (max-width:375px) {
    .productos h2 .iconos {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: none;
        margin-bottom: 10px;
    }
    p.img { 
        width: 100px;
        max-width: 100% ;
    }
    }   
    
