@import "variables";

@import "navegador";
@import "productos";
@import "footer";
@import "responsive";


;
*{
    margin: 0 px;
    padding: 0 px;  
    
}
img {max-width: 100%;}

body {
    background-color:#f8e9dc;
      
}



 
/* Crear Buscador*/


